.sb-activated{
    background: linear-gradient(0deg, #7CFA4C, #7CFA4C), #1F2933;
    box-shadow: 0px 3px 9px #40BA12;
}
 
.text-grid:hover  .info-circle,.text-grid:hover  .info-circle-hide,.info-circle-show{
    display: inline;
    opacity: 1;
   }
 .info-circle{
    opacity: 0; 
    display: inline;}
 .info-circle-hide{
      opacity: 0; 
      display: none;}
  

 .hex_adjacent {
    margin-left: -28px;
    width: calc(100% + 28px);
 }

 .ant-tooltip-inner,.ant-tooltip-arrow-content{
   background-color: #28333f;
 }
