.menu-button{
 
  padding: 5px 12px;
  gap: 10px;
  border-radius: 8px;
}
.menu-button-hover{
  background-color: #28333F;
  color:white;
  
}
.nav-title {
  color: #687D95;
}

.nav-title:hover {
  color: #fff;
}

.title-div{
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
}
@media (max-width: 768px) {
  .title-div{
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .menu-button{
    margin: 0px 0px 20px 0px;
  }
}